/*summers roses Color Palette*/
/*http://www.color-hex.com/color-palette/53128*/

/*Color negro*/
.color-gunmetal
{color:#FFF;background-color:#2A2D34}

/*Color verde oscuro*/
.color-stormcloud
{color:#fff;background-color:#546D64}

/*Color verde claro*/
.color-viridian
{color:#fff;background-color:#3C896D}

table > thead > tr.color-viridian{
  color:#fff;background-color:#3C896D;
}

/*Color verde muy claro*/
.color-mint
{color:#fff;background-color:#4FB286}

/*turquesa*/
.color-turquesa1
{color:#2A2D34;background-color:#99D2B9}

/*turquesa2*/
.color-turquesa2
{color:#2A2D34;background-color:#7CC5A5}

.color-flower1
{color:#fff;background-color:#53546b}

.color-t-flower1
{color:#f25c54}

.color-flower2
{color:#fff ;background-color:#2e2725}

.color-flower3
{color:#fff;background-color:#44352f}

.color-flower4
{color:#000;background-color:#dfd5cc}

.color-flower5
{color:#fff;background-color:#baeeff}

.color-b-rojo
  {color:#fff;background-color:#ff3352}

.color-b-verde
  {color:#fff;background-color:#7ae576}

.color-b-amarillo
  {color:#fff;background-color:#eee8e4}

body{
  background-color:#546D64;
  color: #2A2D34;
}

/* DIALOGS del gracioso jquery */

.modal{
  background-color: white;
}

.ui-dialog-titlebar{
  background-color: orange;
  text-align: center;
}

.oculto{
  display: none;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

p{
  text-align: center;
}



/* Mensajes para notificar al usuario dentro de los formularios*/
.mensaje{
  color: #888888;
  height: 60px;
}

.rojo{
  color: #f25c54;
  font-weight: bold;
}

.mensaje, .rojo{
  line-height: 40px;
  text-align: center;
  background-color: white;
}

#cuerpo{
  margin-top: 100px;
}

/* TABLE */
.w3-table-all tbody tr:nth-child(even){background-color:#99D2B9;color: #2A2D34;}
.w3-table-all tbody tr:nth-child(odd){background-color:#7CC5A5;color: #2A2D34;}

/* CARD */
.mio-descripcion{height: 180px;}

/*TEXT*/
.mayus{
  text-transform: uppercase;
}
