/*Estilos generales*/

:root {
  --color-pri: #83bf17;
  --color-pri-light: #99ca41;
  --color-sec: #dc5550;
  --color-sec-light: #f15d58;
  --color-black:#363635;
  --color-white: white;
  scroll-behavior: smooth;
}



html, body {
  height: 100% !important;
}


/*.Completada {
  display: none; Edita para mostrar las tareas co,pletadas o las incompletas
}*/

/*Colores en clases*/
.color-pri
{color:var(--color-pri);}
.color-sec
{color:var(--color-sec);}
.color-black
{color:var(--color-black);}
.color-white
{color:var(--color-white);}

.background-color-pri
{background-color:var(--color-pri);}
.background-color-pri-light
{background-color:var(--color-pri-light);}
.background-color-sec
{background-color:var(--color-sec);}
.background-color-sec-light
{background-color:var(--color-sec-light);}
.background-color-black
{background-color:var(--color-black); color:white;}
.background-color-black-f
{background-color:var(--color-black) !important; color:white !important;}
.background-color-white
{background-color:var(--color-white);}

.color-hover-pri:hover
{background-color: var(--color-pri) !important; color:white !important;}
.color-hover-sec:hover
{background-color: var(--color-sec) !important; color:white !important;}
.color-hover-black:hover
{background-color: var(--color-black) !important; color:white !important;}

/* Index */
.background-img-1 {
  background: url("../img/img1.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main */
.sombra-superior {
  box-shadow:   0 -2px 1px var(--color-white);
}

.sombra-inferior {
  box-shadow:   0 2px 1px var(--color-white);
}
.sombra-inferior-negra
{box-shadow:   0 2px 1px var(--color-black);}

.padding-bottom {
  padding-bottom: 16px !important;
}

.padding-bottom-64 {
  padding-bottom: 64px !important;
}

.border-color-white {
  border-color: var(--color-white);
}

.w3-circle-icon {
  border-radius: 50%;
  padding:16px 18px;
}

/*Clikables*/
.pointer-events-none{pointer-events: none;}
.pointer-events-all{pointer-events: all;}

/*inputs*/
.center {
  margin:auto;
  width:50%;
}

@media screen and (max-width: 600px) {
    .center {
      margin:0;
      width:100%;
    }
}
